@import "./variables.scss";

@media (max-width: 767px) {
  .gradient .about_me_section {
    position: relative;
    .width-container {
      h1 {
        font-size: 3.5rem;
        line-height: 1.1;
        margin-bottom: 0.5rem;

        span {
          display: block;
          text-transform: capitalize;
        }
      }

      > p {
        font-size: 1rem;
        padding-right: 3rem;
        margin-top: 2rem;
      }

      .experience {
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 520px) {
  .grid-media {
    flex-wrap: wrap;

    .linkedin {
      @media (max-width: 400px) {
        p {
          padding-right: 15px;
        }
      }
    }

    a:last-child {
      margin-top: 0.3rem;
    }
  }
}

.grid-media {
  .social-media-item {
    p {
      font-size: 14px;
    }
    min-width: 100px;

    &:hover {
      background-color: $green;
      transform: scale(1.05);
    }
  }
  .fenomartin6gmailcom {
    min-width: 200px;
    a {
      min-width: none;
    }
  }
}
